node_modules/
out/
*.vsix
.DS_Store
.idea/
.vscode-test/
*.log
dist/
build/
.env
.env.local

remote/*
!remote/remotccp.asm
!remote/remotccp.hex
!remote/xmodem.asm
!remote/drivetest.asm
!remote/fltest.asm

examples/

PAT