**/*.ts
**/*.map
.gitignore
.vscode-test
test/
*.vsix
examples/
src/test/
CPM IDE Specification.md
.claude/
.vscode/
remote/*.asm
remote/*.lst
remote/*.rom
remote/drivetest.*
remote/fltest.*
remote/miniedit.*

PAT
screenshots/
